# Dependencies
node_modules
npm-debug.log

# Build output
dist
.vite

# Environment files
.env
.env.local
.env.production

# Git
.git
.gitignore

# Documentation
*.md
!README.md

# Tests
e2e
coverage
*.test.ts
*.test.tsx
*.spec.ts

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Misc
*.log
.cache
